
[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
[credential]
        helper = GIT_CREDENTIAL_HELPER

[core]
  editor=vim
  excludesfile = ~/.gitignore

[alias]
  last=log --name-status "HEAD^..HEAD"
  ll=log --graph --decorate --pretty=oneline --abbrev-commit
  co=checkout
  promote = !$ZSH/bin/git-promote
  wtf     = !$ZSH/bin/git-wtf
  rank-contributers = !$ZSH/bin/git-rank-contributers
  count   = !git shortlog -sn

[color]
  branch=auto
  diff=auto
  interactive=auto
  status=auto
  ui=true

[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 

[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true

[hub]
  protocol = https

[push]
  default = simple

